---
layout: default
---


<div id="posts">
  {% years %}
    <h2>{{year}}</h2>
    {% for post in yearloop.posts %}
      <div class="post">
        <time datetime="{{post.date | date_to_xmlschema}}">{{ post.date | date_to_string }}</time>
        <span class="separator">ϟ</span>
        <cite><a href="{{ post.url }}">{{ post.title }}</a></cite>

        {% if post.excerpt %}
          <blockquote>{{ post.excerpt }}</blockquote>
        {% endif %}
      </div>
    {% endfor %}
  {% endyears %}
</div>
