---
---
<div>

  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

  {% for year in postsByYear %}
    <div class="grid-x year">
      <h2 class="cell">{{year.name}}</h2>
    </div>

    <div class="grid-x grid-margin-x align-left">
      {% for post in year.items %}
        <div class="post cell small-12 medium-6 large-4">
          <div class="cell-{% cycle 1, 2, 3, 4, 5 %} flex-container flex-dir-column">
            <h3><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h3>

            <blockquote class="flex-child-grow">{{ post.excerpt | strip_html | truncatewords: 30 }}</blockquote>

            <div>
              <time class="float-right" datetime="{{post.date | date_to_xmlschema}}">{{ post.date | date: "%Y-%m-%d" }}</time>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
