<div class="sidebar-{{include.sidebar}}">
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="row">
    <h2 class="columns">About Zach</h2>
  </div>

  <div class="row">
    {% unless include.sidebar %}
      <div class="columns medium-2">
        <img src="/uploads/me.jpg" alt="Picture of Zach" />
      </div>
    {% endunless %}

    <div class="columns">
      <div class="row">
        <p class="columns">Zach is a software developer who has worked on a range of projects. He currently writes Ruby by day for <a href="https://www.getharvest.com/">Harvest</a> and plays with other languages by night (currently Haskell, Scala, Clojure, and Rust). He knows how to laugh at himself and loves to ship software. He is a father of two wonderful kids and a husband to a fantastic wife.</p>
      </div>

      <div class="row">
        <p class="columns">
          <a href="mailto:zach.moazeni@gmail.com">email</a> ϟ <a href="https://github.com/zmoazeni">github</a> ϟ <a href="https://twitter.com/zmoazeni">twitter</a> ϟ <a href="https://www.linkedin.com/in/zmoazeni/">linkedin</a>
        </p>
      </div>

      <h3 class="row columns">Notable Projects</h3>

      <div class="row">
        <ul class="columns">
          <li><a href="http://zmoazeni.github.io/csscss/">csscss</a></li>
          <li><a href="http://zmoazeni.github.io/harvested/">harvested</a></li>
          <li><a href="http://zmoazeni.github.io/gitspective/">gitspective</a></li>
        </ul>
      </div>
    </div>
  </div>

  {% if include.sidebar %}
    <div class="row columns">
      <img src="/uploads/me.jpg" alt="Picture of Zach" />
    </div>
  {% endif %}
</div>
