<div class="sidebar">
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="grid-x">
    <h2 class="cell">About Zach</h2>

    <p class="cell"><strong>Zach is currently looking for his next challenge! <br /> Reach out if you think he'll be a good fit for your organization.</strong></p>

    <p class="cell">Zach is a software developer who has worked on a range of projects, with expertise in Ruby/Rails and MySQL performance. He also tinkers with other languages in his free time (currently Go, Haskell, Scala, Clojure, and Rust).</p>

    <p class="cell">He knows how to laugh at himself and loves to ship software. He is a father of two wonderful kids and a husband to a fantastic wife.</p>

    <div class="cell">
      <a href="mailto:zach.moazeni@gmail.com">email</a> ϟ <a href="https://github.com/zmoazeni">github</a> ϟ <a href="https://twitter.com/zmoazeni">twitter</a> ϟ <a href="https://www.linkedin.com/in/zmoazeni/">linkedin</a>
    </div>

    <h3 class="cell">Notable Projects</h3>

    <div class="cell">
      <ul>
        <li><a href="http://zmoazeni.github.io/csscss/">csscss</a></li>
        <li><a href="http://zmoazeni.github.io/harvested/">harvested</a></li>
        <li><a href="http://zmoazeni.github.io/gitspective/">gitspective</a></li>
      </ul>
    </div>
  </div>

  <div class="cell">
    <img class="profile-picture" src="uploads/me.jpg" alt="Picture of Zach" />
  </div>
</div>
