<!DOCTYPE html>
<html lang="en">
<head>
  <title>Connection Ϟ Required {% if page.title %} // {{ page.title }} {% endif %}</title>

  <meta charset="utf-8">
  <meta name="author" content="Zach Moazeni">

  <link href="{{ site.baseurl }}/css/main.min.css?v=1" media="screen" rel="stylesheet" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Connection Required" href="{{ site.baseurl }}/feed/atom/" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Connection Required</a></li>
    </ul>
  </nav>
