<!DOCTYPE html>
<html lang="en">
<head>
  <title>Connection Ϟ Required {% if page.title %} // {{ page.title }} {% endif %}</title>

  <meta charset="utf-8">
  <meta name="author" content="Zach Moazeni">

  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/pygments-solarized.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Connection Required" href="http://connectionrequired.com/feed/atom/" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Connection Ϟ Required</a></li>
      <li><a href="/highlighted">Highlighted</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
