$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 32), // default 48
    'h2': ('font-size': 28), // default 40
    'h3': ('font-size': 22), // default 31
    'h4': ('font-size': 20), // default 25
    'h5': ('font-size': 18), // default 20
    'h6': ('font-size': 16), // default 16
  ),
);
$global-font-size: 10px;
$body-font-family: 'Open Sans', sans-serif;
$offcanvas-size: 50rem;
$offcanvas-background: white;

$font-weight-semibold: 600;

@import '../node_modules/foundation-sites/scss/foundation.scss';
@include foundation-everything(true);

body {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
  font-weight: $font-weight-semibold;
}

.brand {
  overflow: hidden;
  display: block;

  span {
    display: none;
  }

  svg {
    @include breakpoint(small only) {
      width: 30rem;
    }
  }
}

@include breakpoint(medium) {
  .year {
    margin-top: 2rem;
  }
}

.year ~ .year {
  margin-top: 2rem;
}

.post {
  margin: 1rem 0;
  overflow-wrap: break-word;

  @include breakpoint(small only) {
    font-size: 1rem;
  }

  .cell {
    padding: 1.5rem;
    height: 100%;
  }

  .cell-1 { background-color: rgba(#6da0c5, .18); }
  .cell-2 { background-color: rgba(#83b0c5, .18); }
  .cell-3 { background-color: rgba(#d9e2cf, .35); }
  .cell-4 { background-color: rgba(#a7a98e, .18); }
  .cell-5 { background-color: rgba(#4d4c31, .18); }
}

time {
  font-style: italic;
  opacity: 0.5;
}

main {
  padding: 0 2rem;

  h2, h3, h4, h5 {
    margin-top: 3rem;
  }
}

article {
  svg {
    margin: 2rem 0;
  }
}

.header {
  margin: 2rem 0;
}

footer {
  margin: 3rem 0 10rem 0;
  font-style: italic;
}

.highlight {
  margin: 2rem 0;

  code {
    background: none;
    border: none;
  }
}

@import 'pygments-github.scss';

.about {
  position: fixed;
  left: -1rem;
  top: 50%;
  transform:rotate(-90deg);
}

.content p {
  margin: 2rem 0;
}

.sidebar {
  text-align: center;

  h2 {
    margin-top: 8rem;
  }

  li {
    list-style: none;
  }

  img {
    margin-top: 3rem;
  }
}

@include breakpoint(small only) {
  .position-left {
    width: 30rem;
  }
}
