<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}Connection Required</title>

  <meta charset="utf-8">
  <meta name="author" content="Zach Moazeni">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{{ site.baseurl }}/css/main.min.css?v=4" media="screen" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700" rel="stylesheet">
  <link rel="alternate" type="application/atom+xml" title="Connection Required" href="{{ site.baseurl }}/feed/atom/" />
</head>
<body>
  <header>
    <nav class="row align-center">
      <div class="small-12 columns">
        <a class="brand text-center" href="{{ site.baseurl }}/">{% include svg/brand.svg %} <span>Connection Required</span></a>
      </div>

      <a href="#" class="about" data-toggle="offCanvas" onclick="return false">about</a>
    </nav>
  </header>

  <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
    {% include about.html sidebar=true %}
  </div>

  <main class="off-canvas-content" data-off-canvas-content>
    {% if page.type == "post" %}
      <article>
        <div class="header">
          <div class="row">
            <h1 class="column">{{ page.title }}</h1>
          </div>

          <div class="row">
            <p class="column"><time datetime="{{page.date | date_to_xmlschema}}">{{ page.date | date: "%Y-%m-%d" }}</time></p>
          </div>
        </div>

        <div class="row align-left">
          <div class="column content">
            {{ content }}
          </div>
        </div>
      </article>
    {% else %}
      {{ content }}
    {% endif %}
  </main>


  <footer class="row align-center text-center">
    <p class="column">&copy; 2007-{% thisyear %} Zach Moazeni</p>
  </footer>

  <script src="{{ site.baseurl }}/js/main.min.js"></script>
</body>
</html>

