<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/pygments-solarized.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Connection ⚡ Required</a></li>
      <li><a href="/">About</a></li>
    </ul>
  </nav>

  <article id="main">
    <h1><cite>{{ page.title }}</cite> <span class="separator">⚡</span> <time datetime="{{page.date | date_to_xmlschema}}">{{ page.date | date_to_long_string }}</time></h1>
    {{ content }}
  </article>

  <footer>
    <a href="">Zach Moazeni</a> &copy; 2007 - 2013
  </footer>
</body>
</html>
