<!DOCTYPE html>
<html lang="en">
<head>
  <title>Connection Ϟ Required {% if page.title %} // {{ page.title }} {% endif %}</title>

  <meta charset="utf-8">
  <meta name="author" content="Zach Moazeni">

  <link href="/css/{{ page.version }}/main.css?v=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/{{ page.version }}/pygments-github.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/{{ page.version }}">Connection Ϟ Required</a></li>
      <li><a href="/{{ page.version }}/highlighted">Highlighted</a></li>
      <li><a href="/{{ page.version }}/about">About</a></li>
    </ul>
  </nav>
